/*Mixins*/
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.logo {
  padding-top: 200px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .logo {
    padding-top: 100px;
  }
}

section {
  height: 100vh;
  width: 100%;
  background: #fff;
  text-align: center;
}

.header {
  text-align: center;
  color: #CDCDCD;
  font-weight: 100;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.clock {
  width: 40%;
  height: 150px;
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .clock {
    width: 100%;
  }
}

.clock .clock-element {
  width: calc(25% - 1px);
  height: 70px;
  border-right: 1px solid #E8E8E8;
  float: left;
  text-align: center;
  font-size: 24px;
  color: #5C5C5C;
  padding-top: 30px;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.clock .clock-element:nth-of-type(4) {
  border: 0;
}

.clock .clock-element h2 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  color: #CDCDCD;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 100;
  padding-top: 10px;
}

.body {
  width: 17%;
  margin: 0 auto;
  text-align: center;
  color: #CDCDCD;
  font-weight: 100;
  font-size: 14px;
  padding-top: 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .body {
    width: 70%;
  }
}

.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #CDCDCD;
  font-weight: 400;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 10px;
}

.footer a {
  color: #CDCDCD;
  text-decoration: none;
}
